@import 'vars';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Alegreya Sans SC", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3%;
}

.content {
  position: relative;
  display: flex;
  justify-content: end;

  &__background {
    width: 80%;
    height: 600px;
    margin-right: 0;
    background-image: url("cosmetics.jpg");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
  }

  &__title {
    display: flex;
    align-items: center;
    font-style: italic;
    position: absolute;
    left: 10%;
    top: 20%;

    &_1 {
      font-size: 42px;
      font-family: "Cormorant Unicase", serif;
      font-weight: 600;
    }

    &_border {
        width: 56px;
        padding: 1%;
        border-bottom: 1px solid #000;
    }


  }

  &__login {
    width: 20%;
    height: 25%;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: #fff;
    clip-path: polygon(
      66.04% 46.96%,
      66.67% 0%,
      100% 0%,
      99.91% 100%,
      0% 100%,
      0% 47.07%
    );
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    top: -1%;
    left: 30%;

    &_q {
      width: 50%;
      text-decoration: underline;
    }

    &_enter {
      text-orientation: upright;
      writing-mode: vertical-lr;
      height: 90%;
      text-align: center;
      position: absolute;
      right: 7%;
      top: 3%;
      color: #fff;
      background-color: $mainColor;
      padding: 4%;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 5px;
      transition: all 0.3s;

      &:hover {
        background-color: rgb(59, 33, 1);
        cursor: pointer;
      }
    }
  }

  &__tagline {
    font-family: "Cormorant Unicase", serif;
    font-weight: 300;
    position: absolute;
    bottom: 0%;
    left: 12%;

    & span {
      background: #fff;
      padding: 5px 10px;
      display: inline-block;
    }

    &_1 {
      font-size: 42px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    &_2 {
      font-size: 36px;
    }

    &_3 {
      font-size: 24px;
      width: 100%;
      border-top-right-radius: 10px;

      .content__btn {
        color: #fff;
        font-size: 12px;
        background-color: $mainColor;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 0px;
        position: absolute;
        left: 50%;
        bottom: 2%;
        transition: all 0.3s;

        &:hover {
          background-color: rgb(59, 33, 1);
          cursor: pointer;
        }

        &::before {
          content: "";
          position: absolute;
          left: -25%;
          bottom: 95%;
          background: $mainColor;
          width: 200px;
          height: 1px;
        }

        &::after {
          content: ">";
          position: absolute;
          right: -54%;
          bottom: 48%;
          color: $mainColor;
          font-size: 24px;
        }
      }
    }
  }

  &__owner {
    width: 30%;
    padding: 1%;
    background-color: #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    bottom: 20%;
    right: 0;

    &_name {
      font-size: 16px;
      padding-left: 10%;

      & span {
        font-size: 20px;
      }
    }
  }
}
